@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Oswald&display=swap');

body{
    background-color: rgb(55, 23, 77);
    font-family: "Fredoka", sans-serif;
    color: white;
    padding: 100px;
    
}

h1{
    font-size: 300%;
}

input{
    font-family: "Fredoka", sans-serif;
    padding: 12px 20px;
    border-radius: 5px;
}

button{
    font-family: "Fredoka", sans-serif;
    background-color: rgb(59, 164, 255);
    border-radius: 5px;
    border: none;
    width: 200px;
    padding: 12px 20px;
    width: 7%;
    color: white;
}

button:hover{
    filter: brightness(70%);
}

.login{
    text-align: center;
}